body {
    background-color: goldenrod;
}

header p{
    font-size: 30px;
    color: blue;
}

button {
    background-color: green;
    color: white;
    padding: 5px;
}

p {
    text-align: left;
    margin-left: 50px;
}

#container {
    border: 5px solid yellowgreen;
    background-color: bisque;
    text-align: center;
    margin-top: 10%;
    margin-left: 35%;
    width: 500px;
    height: 400px;
}

#start-button {
    background-color: green;
    color: white;
    padding: 10px;
    font-size: 35px;
}

#start-button:hover {
    opacity: 75%;
}

#question-box {
    margin-top: 50px;
    font-size: x-large;
}